<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<title>three.js webgl - lights - physical lights</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

		<link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="icons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
		<link rel="manifest" href="icons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="styles.css">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
		<style>

			#info {
				position: absolute;
				top: 0px; width: 100%;
				color: #ffffff;
				padding: 5px;
				font-family: Monospace;
				font-size: 13px;
				text-align: center;
			}

			a {
				color: #ff0080;
				text-decoration: none;
			}

			a:hover {
				color: #0080ff;
			}
		</style>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.js"></script>
		<script src="src/slider.component.js"></script>
		<script src="src/slide.directive.js"></script>
		<script src="src/app.controller.js"></script>

	</head>
	<body>

		<div class="container" ng-controller="AppController as ctrl">

			<div class="controls" ng-cloak>

				<div style="margin: 40px 10px 0">
					<slider min="240" max="900" ng-model="params.d"></slider>
					<label>Głębokość</label>

					<slider min="320" max="900" ng-model="params.w"></slider>
					<label>Szerokość</label>

					<slider min="200" max="900" ng-model="params.h"></slider>
					<label>Wysokość</label>
				</div>

				<fieldset class="label">
					<label>Grubość materiału</label>
					<value>20</value>
				</fieldset>
				<fieldset class="label">
					<label>Zaokrąglenia</label><value>40</value>
				</fieldset>
				<fieldset class="label">
					<label>Frez</label><value>8</value>
				</fieldset>
				<fieldset class="label">
					<label>Tolerancja</label><value>1</value>
				</fieldset>

				<div class="buttons">
					<button ng-click="ctrl.download()">Pobierz</button>
				</div>

			</div>

			<div id="preview">
				<div class="button-bar">
					<img alt="Widok" title="Rzut ortograficzny / Perspektywa" 
						src="images/cube.png" ng-click="ctrl.changeView()"
						ng-style="{opacity: params.ortho ? 0.5 : 1}"/>
				</div>
			</div>

		</div>

		<script src="js/three.js"></script>
		<script src="js/libs/stats.min.js"></script>
		<script src="js/libs/dat.gui.min.js"></script>
		<script src="js/controls/OrbitControls.js"></script>
		<script src="js/Detector.js"></script>

		<script src="https://www.clicktorelease.com/code/THREE.MeshLine/src/THREE.MeshLine.js"></script>

		<script src="src/elements.js"></script>
		<script src="src/renderer.js"></script>

	</body>
</html>
